<!-- app/views/customers/_customer.html.erb -->
<article class="media">
  <figure class="media-left">
    <%= image_tag customer.image, class: "image is-64x64" if customer.image.attached? %>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= customer.full_name %></strong>
        <br>
        <%= customer.phone_number %>
        <br>
        <%= mail_to customer.email_address %>
      </p>
      <p>
        <%= customer.notes %>
      </p>
    </div>
  </div>
</article>
